[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flake8 = "*"
mypy = "*"
isort = "*"
pylint = "*"
black = "*"
pre-commit = "*"
django-stubs = "*"
psycopg2 = "*"
tomli = "*"
pyjwt = "*"
pytest = "*"
pytest-django = "*"
celery = "*"
redis = "*"
boto3 = "*"
pillow = "*"
django-storages = "*"
kafka-python = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
